@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MovieRentalSystem</h1>
</div>

<div class="text-center">
    <div id="carouselExampleIndicators" class="carousel slide d-inline-block" data-bs-ride="carousel" style="width: 1000px; height: 1000px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="/images/image5.jpg" class="d-block w-100 img-fluid" alt="Image 1">
                    </div>
                    <div class="col">
                        <img src="/images/image16.jpg" class="d-block w-100 img-fluid" alt="Image 2">
                    </div>
                    <div class="col">
                        <img src="/images/image19.jpg" class="d-block w-100 img-fluid" alt="Image 3">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="/images/image25.jpg" class="d-block w-100 img-fluid" alt="Image 4">
                    </div>
                    <div class="col">
                        <img src="/images/image22.jpg" class="d-block w-100 img-fluid" alt="Image 5">
                    </div>
                    <div class="col">
                        <img src="/images/image5.jpg" class="d-block w-100 img-fluid" alt="Image 6">
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="/images/image2.jpg" class="d-block w-100 img-fluid" alt="Image 4">
                    </div>
                    <div class="col">
                        <img src="/images/image4.jpg" class="d-block w-100 img-fluid" alt="Image 5">
                    </div>
                    <div class="col">
                        <img src="/images/image6.jpg" class="d-block w-100 img-fluid" alt="Image 6">
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="/images/image7.jpg" class="d-block w-100 img-fluid" alt="Image 4">
                    </div>
                    <div class="col">
                        <img src="/images/image11.jpg" class="d-block w-100 img-fluid" alt="Image 5">
                    </div>
                    <div class="col">
                        <img src="/images/image17.jpg" class="d-block w-100 img-fluid" alt="Image 6">
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
