.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px solid #ffffff; 
    transition: 0.3s;
}







.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-body {
    padding: 1px;
    background-color:darkslategrey;
}



body {
    background-color: #000000;
    color: #ffffff;
}

    body * {
        color: #ffffff;
    }


.card-title {
    
    font-size: 20px; /* Increase the font size */
    font-weight: bold;
    margin-bottom: 2px;
    color: #FF0000; 
}


.card-text {
    margin-bottom: 1px;
}

.rent-price {
    color: #ff8800;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.25rem 0.5rem;
    font-size: 12px;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
